* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: rgb(73, 73, 73);
  margin: none;
  padding: none;
}

body {
  margin: none;
  padding: none;
}

.container {
  display: grid;
  gap: 2rem;
}



.question {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

input[placeholder] {
  border: 2px solid gray;
  border-radius: 8px;
  width: 100%;
  margin: 1rem 0; 
  height: 3rem;
}

input[placeholder]:hover::placeholder {
  color: black;
  font-weight: 400; /*I don't think this line does anything..*/
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  height: 3rem;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 1rem;
}

button {
  height: 3rem;
  /* padding: 5%; */
  flex: 1;
  padding: .2rem;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: transparent;
  max-width: 300px;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(219, 219, 219);
}

button:active {
  background-color: gray;
}

@media (width < 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (width >= 600px) and (width < 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .char-input {
    grid-template-rows: 1fr 1fr;
  }
  .buttons {
    margin-top: 2rem;
  }
}

@media (width >= 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .char-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .buttons {
    margin-top: 5rem;
  }
}

.result {
  display: grid;
  place-items: center;
  margin-top: 5rem;
}